.date {
  background-color: black;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
}

#Expense-Date__month {
  color: grey;
  text-decoration: solid;
  text-align: center;
}

#Expense-Date__day {
  color: grey;
  text-decoration: solid;
  text-align: center;
}

#Expense-Date__year {
  color: grey;
  text-decoration: solid;
  text-align: center;
}
